@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  min-height: 100vh;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif; }
  @media screen and (max-width: 20em) {
    html {
      font-size: 50%; } }

.heading-1,
.heading-2,
.overline,
.paragraph {
  text-align: center; }

.heading-1,
.heading-2,
.overline {
  font-weight: 900; }

.heading-1,
.heading-2 {
  color: #28283d; }

.heading-1 {
  font-size: clamp(4rem, 10.667vw, 6.4rem);
  line-height: 1; }

.heading-2 {
  font-size: clamp(3.2rem, 8.533vw, 4rem);
  line-height: calc(44 / 40); }

.overline {
  font-size: clamp(1.6rem, 4.267vw, 2.6rem);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #4d96a9;
  line-height: calc(26 / 16); }

.paragraph {
  font-size: clamp(1.6rem, 2.083vw, 1.8rem);
  font-weight: 500;
  color: #87879d;
  line-height: calc(26 / 18); }

.number {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.8rem;
  font-weight: 900;
  color: #87879d;
  border: 1px solid rgba(135, 135, 157, 0.45);
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  display: grid;
  place-items: center;
  background-color: #fafafa; }
  .number__container {
    margin-top: 6.4rem; }
    @media screen and (min-width: 29.6875em) {
      .number__container {
        margin-top: 8rem; } }
    @media screen and (min-width: 48em) {
      .number__container {
        margin-top: 11rem; } }
    .number__container::before {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      content: "";
      display: block;
      width: 0.5px;
      height: 8.4rem;
      border: 0.5px solid rgba(135, 135, 157, 0.45); }

.button {
  border: none;
  border-radius: 3rem;
  padding: 1.6rem 3rem;
  color: #fafafa;
  font-weight: 900; }
  .button__1 {
    background-color: #4d96a9;
    transition: all 0.2s; }
    .button__1:hover {
      background-color: #71c0d4; }
    .button__1--version {
      color: #8fe3f9; }
  .button__2 {
    background-color: #855fb1;
    transition: all 0.2s; }
    .button__2:hover {
      background-color: #b18bdd; }
    .button__2--version {
      color: #d9b8ff; }

.features {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: calc(min(87.2vw, 54rem)); }
  .features .heading-2 {
    margin: 2.4rem 0 3.2rem; }
    @media screen and (min-width: 29.6875em) {
      .features .heading-2 {
        margin: 1.6rem 0 3.2rem; } }

.footer {
  background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url(../../assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9.2rem 2.4rem;
  margin-top: -2.8rem; }
  @media screen and (min-width: 48em) {
    .footer {
      background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url(../../assets/tablet/image-footer.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 9.2rem 9.7rem; } }
  @media screen and (min-width: 90em) {
    .footer {
      background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url(../../assets/desktop/image-footer.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 11.6rem 16.5rem; } }
  .footer .heading-2,
  .footer .paragraph {
    color: #fafafa; }
    @media screen and (min-width: 90em) {
      .footer .heading-2,
      .footer .paragraph {
        width: 35rem;
        text-align: left; } }
  .footer .paragraph {
    margin: 2.4rem 0 3.2rem; }
    @media screen and (min-width: 48em) {
      .footer .paragraph {
        margin: 3.2rem 0 4rem; } }
    @media screen and (min-width: 90em) {
      .footer .paragraph {
        margin: 0; } }
  .footer .button {
    position: relative;
    left: 50%;
    transform: translate(-50%); }
    @media screen and (min-width: 90em) {
      .footer .button {
        position: static;
        transform: translateX(0);
        min-width: 19.3rem;
        font-size: 1.8rem; } }

.header {
  overflow: hidden; }
  .header__logo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 2.8rem;
    margin-top: 4.8rem;
    margin-bottom: 5.4rem; }
    @media screen and (min-width: 48em) {
      .header__logo {
        margin-bottom: 6.4rem; } }
    @media screen and (min-width: 64em) {
      .header__logo {
        margin-top: 8rem;
        margin-bottom: 6.1rem; } }
  .header__hero {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    width: 110.4%;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem; }
    @media screen and (min-width: 64em) {
      .header__hero {
        width: calc(1504 / 1440 * 100%);
        grid-template-columns: max-content auto max-content; } }
    .header__hero--img {
      width: calc(min(53.067vw, 39.4rem)); }
      .header__hero--img:nth-child(1) {
        justify-self: end; }
    .header__hero--main {
      order: 1;
      grid-column: 1 / 3; }
      @media screen and (min-width: 64em) {
        .header__hero--main {
          order: 0;
          grid-column: 2 / 3; } }
    .header__hero--heading {
      padding: 0 3.4rem;
      margin: calc(4.8rem - 1.6rem) 0 2.4rem; }
    .header__hero--sub {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      padding: 0 calc(2.4rem + 5.2%);
      width: calc(min(100%, 54rem)); }
    .header__hero--button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
      margin-top: 3.2rem; }
      @media screen and (min-width: 48em) {
        .header__hero--button-container {
          flex-direction: row;
          justify-content: center; } }

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 0 2.4rem;
  margin: 6.4rem 0; }
  @media screen and (min-width: 29.6875em) {
    .images {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.1rem;
      padding: 0 4rem;
      margin: 4.8rem 0 6.7rem; } }
  @media screen and (min-width: 64em) {
    .images {
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
      padding: 0 16.5rem;
      margin: 8rem 0 6, 4rem; } }
  .images__img {
    width: 100%;
    border-radius: 0.8rem; }
