$turquoise: #4d96a9;
$turquoise-hover: #71c0d4;
$purple: #855fb1;
$purple-hover: #b18bdd;
$navy: #28283d;
$grey: #87879d;
$blue: #8fe3f9;
$pink: #d9b8ff;
$white: #fafafa;

$bp-tablet: 48em;
$bp-laptop: 64em;
$bp-desktop: 90em;
