.features {
  @include centerHorizontal;
  width: calc(min(87.2vw, 54rem));

  & .heading-2 {
    margin: 2.4rem 0 3.2rem;

    @media screen and (min-width: $bp-phone) {
      margin: 1.6rem 0 3.2rem;
    }
  }
}
