.header {
  &__logo {
    @include centerHorizontal;

    height: 2.8rem;
    margin-top: 4.8rem;
    margin-bottom: 5.4rem;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 6.4rem;
    }

    @media screen and (min-width: $bp-laptop) {
      margin-top: 8rem;
      margin-bottom: 6.1rem;
    }
  }

  &__hero {
    overflow: hidden;
    &--img-container {
      @include centerHorizontal;
      width: 110%;
      display: flex;
      gap: 1.6rem;

      @media screen and (min-width: $bp-tablet) {
        width: 106.7%;
        gap: 3.2rem;
      }
    }

    &--img {
      overflow: hidden;
    }
  }
}
