.number {
  @include centerHorizontal;
  font-size: 1.8rem;
  font-weight: 900;
  color: $grey;
  border: 1px solid rgba($grey, 0.45);
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  display: grid;
  place-items: center;
  background-color: $white;

  &__container {
    margin-top: 6.4rem;

    @media screen and (min-width: $bp-phone) {
      margin-top: 8rem;
    }

    @media screen and (min-width: $bp-tablet) {
      margin-top: 11rem;
    }

    &::before {
      @include centerHorizontal;
      content: "";
      display: block;
      width: 0.5px;
      height: 8.4rem;
      border: 0.5px solid rgba($grey, 0.45);
    }
  }
}
