@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;

  @media screen and (max-width: $bp-small-phone) {
    font-size: 50%;
  }
}

.heading-1,
.heading-2,
.overline,
.paragraph {
  text-align: center;
}

.heading-1,
.heading-2,
.overline {
  font-weight: 900;
}

.heading-1,
.heading-2 {
  color: $navy;
}

.heading-1 {
  font-size: clamp(4rem, 10.667vw, 6.4rem);
  line-height: 1;
}

.heading-2 {
  font-size: clamp(3.2rem, 8.533vw, 4rem);
  line-height: calc(44 / 40);
}

.overline {
  font-size: clamp(1.6rem, 4.267vw, 2.6rem);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: $turquoise;
  line-height: calc(26 / 16);
}

.paragraph {
  font-size: clamp(1.6rem, 2.083vw, 1.8rem);
  font-weight: 500;
  color: $grey;
  line-height: calc(26 / 18);
}
