@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

.heading-1,
.heading-2,
.overline,
.paragraph {
  text-align: center;
}

.heading-1,
.heading-2,
.overline {
  font-weight: 900;
}

.heading-1,
.heading-2 {
  color: $navy;
}

.heading-1 {
  font-size: 6.4rem;
}

.heading-2 {
  font-size: clamp(4rem, 10.667vw, 4.4rem);
}

.overline {
  font-size: clamp(1.6rem, 4.267vw, 2.6rem);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: clamp(1.8rem, 4.8vw, 2.6rem);
  font-weight: 500;
}
